.fixture {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 0 30px;
  border-bottom: 1px solid #eee;
  @include responsive($small) {
    flex-wrap: nowrap;
    border-bottom: 0;
  }
}

.fixture__date {
  text-align: center;
  padding: 15px 0 0;
  font-weight: 700;
  @include responsive($small) {
    padding: 15px 0;
    font-weight: 400;
  }
}

.fixture__match {
  display: flex;
  align-content: center;
  justify-content: center;
  order: 1;
  flex: 1 0 100%;
  @include responsive($small) {
    flex: 1 0 auto;
    order: initial;
  }
}

.fixture__input {
  width: 36px;
  height: 36px;
  text-align: center;
  border: 1px solid $system-colour;
  color: $system-colour;
  font-weight: 700;
  @include responsive($small) {
    width: 60px;
    height: 60px;
  }
}

@mixin team() {
  width: 40%;
  align-self: center;
  @include responsive($small) {
    font-size: 24px;
  }
}

.fixture__home {
  @include team();
  text-align: right;
}

.fixture__away {
  @include team();
}

.fixture__scores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @include responsive($small) {
    flex-wrap: nowrap;
  }
}

.fixture__predictions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px 15px;
  text-align: center;
  order: 1;
  flex: 1 0 100%;
  @include responsive($small) {
    order: initial;
    flex: 1 0 auto;
    margin: 0 15px;
  }
}

.fixture__result {
  order: 2;
  font-weight: 700;
  margin: 0 15px;
  font-size: 24px;
  @include responsive($small) {
    order: initial;
  }
  &.fixture__result--lost {
    color: $bad-colour;
  }
  &.fixture__result--draw {
    color: $ok-colour;
  }
  &.fixture__result--win {
    color: $good-colour;
  }
  &.fixture__result--star {
    color: $great-colour;
  }
}

.fixture__colon {
    margin: 0 5px;
}

@mixin info() {
  align-self: center;
  font-size: 36px;
}

.fixture__star {
  @include info();
  height: 32px;
  width: 32px;
  cursor: pointer;
  button {
    background: none;
    border: 0;
    color: inherit; 
    padding: 0;
  }
  svg {
    fill: $great-colour;
  }
}

.fixture__state {
  @include info();
  font-size: initial;
  margin: 0 0 0 auto;
  svg {
    font-size: 36px;
    margin: 0;
  }
}

.fixture__points {
  font-size: 24px;
  font-weight: 700;
}

.ok-fill {
  fill: $good-colour;
}

.warning-fill {
  fill: $ok-colour;
}

.bad-fill {
  fill: $bad-colour;
}
