@mixin header-section() {
  @include responsive($small) {
    width: 33.333333%;
  }
}

@mixin header-link() {
  border-bottom: 3px solid $header-background;
  // negative margin is for underline
  padding: 0 0 5px;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: $header-text;
  white-space: nowrap;
  @include responsive($small) {
    margin: 0 15px -3px 0;
    padding: 0;
    &:hover {
      border-bottom: 3px solid;
    }
  }

}

.header {
  background: $header-background;
  color: $header-text;
  font-weight: 700;
}

.header__container {
  position: relative;
  @include responsive($small) {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    margin: 0 auto;
    max-width: 90rem;
  }
}

.header__section {
  @include header-section();
}


.header__logo {
  @include header-section();
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  padding: 15px;
  a {
    text-decoration: none;
    color: $header-text;
    &:visited {
      color: $header-text;
    }
  }
  h1 {
    margin: 0;
    font-size: 24px;
    border-bottom: 3px solid;
    padding: 0 0 3px;
    display: inline-block;
  }
  @include responsive($small) {
    order: 2;
    padding: 0;
    &.header__logo--logged-out {
      margin: 0 0 0 33.33333%;
    }
  }
}



.header__navigation {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 15px;
  text-align: center;
  @include header-section();
  @include responsive($small) {
    display: flex;
    order: 1;
    padding: 0;
    text-align: initial;
  }
}

.header__link {
  @include header-link();
}

.header__user {
  @include header-section();
  padding: 15px;
  @include responsive($small) {
    order: 3;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }
}

.header__logout {
  button {
    font-family: $primary-font;
    // border 0 cancels browser default border before we reset it
    border: 0;
    @include header-link();
    background: transparent;
    padding: 0;
    font-weight: 700;
    display: block;
    margin: 0 auto;
  }
  @include responsive($small) {
    display: block;
    margin: 0;
  }
}

.header__menu {
  position: absolute;
  top: 21px;
  right: 15px;
  cursor: pointer;
  svg {
    fill: $header-text;
  }
  @include responsive($small) {
    display: none;
  }
}

.rc--menu-open {
  display: block;
  @include responsive($small) {
      display: inherit;
    }
}

.rc--menu-closed {
  display: none;
  @include responsive($small) {
      display: inherit;
    }
}

.header__navigation--logged-out {
  display: block;
  @include responsive($small) {
    display: inherit;
  }
}