@mixin player-section() {
  @include responsive($small) {
    width: 33%;
  }
}

@mixin label-container() {
  display: flex;
  justify-content: flex-end;
}

@mixin label() {
  padding: 5px;
  align-self: center;
  @include responsive($small) {
    padding: 15px;
  }
}

@mixin tag-name() {
  align-self: center;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  margin: 0 5px 5px 0;
  @include responsive($small) {
    background: $primary-contrast;
    color: $primary-colour;
    min-width: 55px;
    padding: 15px;
    font-size: 24px;
    margin: 0;
  }
}

.player {
  background: $primary-colour;
  color: $primary-contrast;
  box-shadow: 0px 3px 10px rgba(51, 51, 51, 0.23);
}

.player__container {
  margin: 0 auto;
  max-width: 90rem;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include responsive($small) {
    padding: 60px 30px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.player__stats {
  display: flex;
  @include player-section();
  @include responsive($small) {
    justify-content: center;
    
  }
}

.player__points {
  display: flex;
  align-items: center;  
  margin: 0 15px 0 0;
  @include responsive($small) {
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
    margin: 0;
  }
}

.player__total {
  font-size: 28px;
  font-weight: 700;
  margin: 0 5px 5px 0;
  @include responsive($small) {
    font-size: 48px;
    margin: 0 0 5px;
  }
}

.player__personal {
  margin: 0 0 5px;
  flex: 1 0 100%;
  @include responsive($small) {
    margin: 0;
    flex: 1 0 auto;
  }
  @include player-section();
}

.player__team {
  font-weight: 700;
  margin: 0 0 5px;
  font-size: 28px;
  @include responsive($small) {
    font-size: 48px;
  }
}
.player__manager {
  span {
    font-weight: 700;
  }
}

.player__status {
  @include player-section();
  display: flex;
  @include responsive($small) {
    justify-content: flex-end;
  }
}

.player__gameweek {
  @include label-container;
}

.player__week {
  @include label();
  order: 2;
  @include responsive($small) {
    order: 1;
  }
}

.player__inplay {
  @include tag-name;
  order: 1;
  @include responsive($small) {
    order: 2;
  }
}

.player__predictions {
  @include label-container;
}

.player__prediction {
  @include label();
}

.player__added {
  @include tag-name();
}