.predictions__container {
  padding: 15px;
  flex: 1;
}

.predictions {
  background: #fff;
  padding: 15px;
  box-shadow: 0px 9px 0px -6px #dbdbdb;
  border: 1px solid #e2f1ec;
}

.predictions__header {
  display: flex;
  background: #fff;
  padding: 15px;
  border: 1px solid #e2f1ec;
  border-bottom: 0;
}

.predictions__gameweek {
  margin: 0 auto 0 0;
}

.predictions__submit {
  text-align: center;
  button {
    @include button($primaryHighlight);
    width: auto;
  }
}

.predictions__next {
  margin: 0 0 0 auto;
  button {
    @include button($text);
  }
}

.predictions__prev {
  button {
    @include button($text);
  }
}

.predictions__week-choice {
  display: flex;
}