.stats {
  margin: 0 0 30px;
  @include responsive($small) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 60px;
  }
}

.stats__points {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 15px 15px;
  @include responsive($small) {
    margin: 0 15px 0 0;
    align-items: center;
    margin: 0 15px 15px 0;
  }
}

.stats__point {
  font-size: 48px;
  font-weight: 700;
}

.stats__charts {
  margin: 0 0 0 15px;
  display: flex;
}

.stats__chart {
  display: flex;
  align-items: center;
}

.stats__label {
  margin: 0 15px 0 0;
  padding: 5px 0;
  border-bottom: 1px solid $primary-contrast;
}

.stats__bars {
  min-width: 200px;
}

.stats__bar {
  background: $primary-colour;
  color: $primary-contrast;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid;
}