$small: 768px;
$medium: 1024px;
$large: 1024px;

// @mixin tablet {
//   @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
//     @content;
//   }
// }

@mixin responsive($size) {
  @media (min-width: $size) {
    @content;
  }
}