// new 
// orange: #cc6633
// green: #729871
// purple: #333399
// red: #cc3340
// black: #333;
$primary-colour: #333399;
$primary-contrast: #fbfbfb;
$header-background: #252322;
$header-text: #fbfbfb;
$primary-font: 'Source Sans Pro', sans-serif;
$system-colour: #333;
$good-colour: #729871;
$ok-colour: #cc6633;
$bad-colour: #cc3340;
$great-colour: #ffcb2c